<h1>Black Jack</h1>
<h2><img src="https://deckofcardsapi.com/static/img/<%= card_image(@@partida.ultima_carta) %>.png"/></h2>
<h2><%= @suma %></h2>
<a href="/pedir">Pedir</a>
<a href="/plantarse">Plantarse</a>
